/ames.csv
/input.txt
/Lab 1 Exploratory Analysis - Problems.ipynb
/Lab 1 Exploratory Analysis - Problems.pdf
/Lab 2 - Methods in Linear Regression Problems.pdf
/labels.csv
/lab_3.html
/lab_4.html
/lab_5.html
/Manifest.toml
/Project.toml
/test.csv
/train.csv
/voice.csv
/wdbc.data